{% extends 'app1/base.html' %}
{% load static %}

{% block body %}

<main class="px-3">
    <div class="d-flex align-items-end flex-wrap">
        <h1>{{ quiz.title }}</h1>
        <!-- <small class="m-0 ms-2 mb-2 text-muted">{{ quiz.created_at }}</small> -->
    </div>
    <!-- <p class="badge bg-body-secondary text-dark">Creator: {{ quiz.auther.first_name }} {{ quiz.auther.last_name }}</p> -->
    <p class="lead">{{ quiz.description }}</p>

    <div class="d-flex flex-row flex-wrap">
        <li class="m-1 badge bg-body-secondary text-dark">{{ quiz.time_limit }} mins</li>
        <li class="m-1 badge bg-body-secondary text-dark">{{ quiz.difficulty_level | title}}</li>
        <li class="m-1 badge bg-body-secondary text-dark">{{ quiz.category | title }}</li>
        <li class="m-1 badge bg-body-secondary text-dark">{{ points }} Poins</li>
        <li class="m-1 badge bg-body-secondary text-dark">{{ num_questions }} Questions</li>
    </div>
    <a href="{% url 'app1:take_quiz' quiz.id %}" class="btn btn-success my-2" data-bs-toggle="modal" data-bs-target="#modal-confirm">Take Quiz</a>

    <div class="modal fade" id="modal-confirm" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-body p-4 text-center">
                    <h5 class="mb-0">Are you sure?</h5>
                    <p class="mb-0">You can always change your mind. It isn't that easy as it sounds.</p>
                </div>

                <div class="modal-footer flex-nowrap p-0">
                    <a href="{% url 'app1:take_quiz' quiz.id %}"
                        class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"><span
                            class="text-success"><strong>Take Quiz</strong></span></a>

                    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0"
                        data-bs-dismiss="modal"><span class="text-danger"><strong>No, thanks</strong></span></button>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block script %}
{% endblock %}