{% extends 'app1/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app1/css/user_profile.css' %}">
{% endblock %}

{% block body %}

<div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>
        <div class="row ">
            <div class="col-sm-4">
                <div class="d-flex flex-column align-items-center">
                    {% if user.profile_picture %}
                    <img width="72px" src="{% static 'app1/images/key-72.png' %}" alt="{{user.username}}">
                    {% else %}
                    <i id="profile-icon" class="bi bi-person" style="font-size: 72px;"></i>
                    {% endif %}
                    <div class="col">
                        <h3 class="">Tarun Jangid</h3>
                        <p class="text-primary">@{{user.username}}</p>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <p class="text-body-emphasis display-6">About</p>
                <p>Quickly and easily get started with Bootstrap's compiled, production-ready files with this barebones example featuring some basic HTML and helpful links.</p>
            </div>
        </div>

        <hr class="mb-5">

        <div class="d-flex flex-row flex-wrap">
            <div class="me-auto">
                <p class="text-body-secondary fs-3">Participated in</p>
                <p class="display-4">{{ total_attempts }} <span class="fs-4">quizzes</span></p>
            </div>

            <div class="me-auto">
                <p class="text-body-secondary fs-3">Contributed</p>
                <p class="display-4">{{ quizzes_created }}<span class="fs-4">quizzes</span></p>
            </div>

            <div class="me-auto">
                <p class="text-body-secondary fs-3">Average score</p>
                <p class="display-4">{{ average_score }}<span class="fs-4">%</span></p>
            </div>

        </div>
    </main>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'app1/js/user_profile.js' %}"></script>
{% endblock %}