.quiz-question {
    /* font-weight: bold; */
    font-size: 20px;
    margin-bottom: 8px;
}

.quiz-choices {
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.quiz-choices li {
    margin-bottom: 0.5rem;
}

.quiz-choices input[type="radio"] {
    margin-right: 0.5rem;
}

.quiz-view{
  max-width: 720px;
}

main{
  background-color: #f2fff7;
}

.toast-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #38383848;
    z-index: 9999;
}

/* .toast {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
} */

.toast.show {
    opacity: 1;
}